.camera-preview {
  // same css as video container;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  // same css as video object;
  &__image {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
